{% extends 'table_base.html' %} {% block title %} 公告内容 {% endblock %}
{%block header %} {% from 'form_macros.html' import search_field %}
 {{search_field('标题', 'title',
'请输入标题') }} {{search_field('内容', 'content', '请输入内容') }}
{{search_field('日期', 'date', '请输入日期')}} {% endblock %} {% block extra_js
%}
<script>
  var config = {
    url: "announcement",
    name: "公告",
    table: {
      elem: "#LAY-list",
      url: "/api/admin/announcement/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          { field: "title", title: "标题", width: 150 },
          { field: "content", title: "内容", width: 150 },
          { field: "date", title: "时间", width: 200 },
          {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 3,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>
{% endblock %}
