{% extends 'table_base.html' %} {% block title %} 比赛管理 {% endblock %}
{%block header %} {% from 'form_macros.html' import search_field %} {{
search_field('比赛名', 'name', '请输入比赛名') }} {{
search_field('起始时间','start_time', '请输入起始时间') }} {{
search_field('结束时间','end_time', '请输入结束时间') }} {% endblock %} {% block
extra_js %}
<script>
  var config = {
    url: "competition",
    name: "比赛",
    table: {
      elem: "#LAY-list",
      url: "/api/admin/competition/search",
      cols: [
        [
          { type: "checkbox", fixed: "left" },
          { field: "id", width: 80, title: "ID", sort: true },
          { field: "name", title: "比赛名", width: 150 },
          { field: "start_time", title: "开始时间", width: 200 },
          { field: "end_time", title: "结束时间", width: 200 },
          {
            field: "status",
            title: "状态",
            width: 100,
            templet: (d) => (d.status ? "进行中" : "未开始"),
          },
          {
            title: "操作",
            minWidth: 150,
            align: "center",
            fixed: "right",
            toolbar: "#table-action-list",
          },
        ],
      ],
      page: true,
      limit: 10,
      text: {
        none: "暂无数据",
      },
    },
  };
</script>
{% endblock %}
