<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        AI比赛管理后台-表单
      {% endblock %}
    </title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/admin/static/layui/css/layui.css" media="all" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    {% block content %}

    {% endblock %}
    <script src="/admin/static/layui/layui.js"></script>

    {% block extra_js %}

    {% endblock %}
  </body>
</html>
