{% extends 'table_base.html' %}
{% block title %} 比赛管理 {% endblock %}
{%block header %} {% from 'form_macros.html' import search_field %}
{{ search_field('赛题名', 'name', '请输入赛题名') }}
{{ search_field('赛题类型','problem_type_id', '请选择类型', 'select', problem_type_options) }}
{{ search_field('赛题难度','difficulty', '请输入赛题难度') }}
{% endblock %} {% block extra_js %}
    <script>
      var config = {
        url: "problem",
        name: "赛题",
        table: {
          elem: "#LAY-list",
          url: "/api/admin/problem/search",
          cols: [
            [
              { type: "checkbox", fixed: "left" },
              { field: "id", width: 80, title: "ID", sort: true },
              { field: "name", title: "赛题名", width: 150 },
              { field: "problem_type_id", title: "赛题类型", width: 150, templet: (d) => d.problem_type_name }, <!-- 使用templet显示名称 -->
              { field: "difficulty", title: "赛题难度", width: 150 },
              { field: "score", title: "分值", width: 150 },
              {
                field: "status",
                title: "状态",
                width: 100,
                templet: (d) => (d.is_active ? "进行中" : "未开始"),
              },
              {
                title: "操作",
                minWidth: screen() < 2 ? 150 : 200,
                align: "center",
                fixed: "right",
                toolbar: "#table-action-list",
              },
            ],
          ],
          page: true,
          limit: 10,
          text: {
            none: "暂无数据",
          },
        },
      };
    </script>
{% endblock %}
