<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>设置</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/admin/static/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin/static/adminui/dist/css/admin.css" media="all" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">{{ title }}</div>
            <div class="layui-card-body" pad15="">
              <div class="layui-form" wid100="" lay-filter="">
                {% block content %}

                {% endblock %}
                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="set">确认保存</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/admin/static/layui/layui.js"></script>
    <script>
      layui
        .config({
          base: '/static/layuiadmin/' // 静态资源所在路径
        })
        .use(['form'], function () {
          var $ = layui.$,
            layer = layui.layer,
            form = layui.form
          //设置我的资料
          form.on('submit(set)', function (obj) {
            var load = layer.load()
            $.ajax({
              url: '/api/admin/{{ url }}',
              data: obj.field,
              method: 'POST',
              dataType: 'json',
              success: function (res) {
                if (res.code == 0) {
                  layer.msg(res.msg, { icon: 1 })
                } else {
                  layer.msg(res.msg)
                }
              },
              complete: function () {
                layer.close(load) //关闭layer.load
              }
            })
            return false
          })
        })
    </script>
  </body>
</html>