<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %} AI比赛管理后台 {% endblock %}</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/admin/static/layui/css/layui.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/admin/static/adminui/dist/css/admin.css"
      media="all"
    />
    {% block extra_head %} {% endblock %}
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
            {% block header %} {% endblock %}
            <div class="layui-inline">
              <button
                class="layui-btn layuiadmin-btn-list"
                lay-submit
                lay-filter="LAY-search"
              >
                <i
                  class="layui-icon layui-icon-search layuiadmin-button-btn"
                ></i>
              </button>
            </div>
          </div>
        </div>
        <div class="layui-card-body">
          {% block body %}
          <div style="padding-bottom: 10px">
            <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">
              删除
            </button>
            <button class="layui-btn layuiadmin-btn-list" data-type="add">
              添加
            </button>
          </div>
          <table id="LAY-list" lay-filter="LAY-list"></table>
          <script type="text/html" id="table-action-list">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
              <i class="layui-icon layui-icon-edit"></i>
              <span class="layui-hide-xs">编辑</span>
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
              <i class="layui-icon layui-icon-delete"></i>
              <span class="layui-hide-xs">删除</span>
            </a>
          </script>
          {% endblock %}
        </div>
      </div>
    </div>

    <script src="/admin/static/layui/layui.js"></script>
    {% block extra_js %} {% endblock %}
    <script>
      layui
        .config({
          base: "/admin/static/", // 静态资源所在路径
        })
        .use(["index", "table", "laytpl", "admin"], function () {
          var table = layui.table,
            form = layui.form,
            laytpl = layui.laytpl,
            admin = layui.admin,
            $ = layui.$,
            setter = layui.setter,
            request = setter.request;
          table.set({
            method: "post",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            headers: {
              access_token: layui.data(setter.tableName)[request.tokenName],
            },
          });

          table.render(window.config.table);

          // 搜索事件
          form.on("submit(LAY-search)", function (data) {
            var field = data.field;
            table.reload("LAY-list", {
              where: field,
            });
          });

          // 添加和删除事件
          var active = {
            batchdel: function () {
              var checkStatus = table.checkStatus("LAY-list"),
                checkData = checkStatus.data;

              if (checkData.length === 0) {
                return layer.msg("请选择数据");
              }

              layer.confirm(
                "确定删除选中的" + window.config.name + "吗？",
                function (index) {
                  var ids = checkData.map((item) => item.id);
                  admin.req({
                    url: "/api/admin/" + window.config.url,
                    method: "DELETE",
                    data: { ids: ids.join(",") },
                    success: function (res) {
                      layer.msg(res.msg);
                      if (res.code === 0) {
                        table.reload("LAY-list");
                      }
                    },
                  });
                  layer.close(index);
                }
              );
            },
            add: function () {
              layer.open({
                type: 2,
                title: "添加" + window.config.name,
                content: "/admin/" + window.config.url + "_form",
                area: ["550px", "550px"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                  var iframeWindow = window["layui-layer-iframe" + index],
                    submitID = "LAY-user-front-submit",
                    submit = layero
                      .find("iframe")
                      .contents()
                      .find("#" + submitID);

                  iframeWindow.layui.form.on(
                    "submit(" + submitID + ")",
                    function (data) {
                      var field = data.field;
                      admin.req({
                        url: "/api/admin/" + window.config.url,
                        method: "POST",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(field),
                        success: function (res) {
                          layer.msg(res.msg);
                          if (res.code === 0) {
                            table.reload("LAY-list");
                            layer.close(index);
                          }
                        },
                      });
                    }
                  );
                  submit.trigger("click");
                },
              });
            },
          };

          // 监听工具条
          table.on("tool(LAY-list)", function (obj) {
            var data = obj.data;
            if (obj.event === "del") {
              layer.confirm(
                "确定删除" + window.config.name + "吗？",
                function (index) {
                  admin.req({
                    url: "/api/admin/" + window.config.url + data.id,
                    method: "DELETE",
                    success: function (res) {
                      layer.msg(res.msg);
                      if (res.code === 0) {
                        table.reload("LAY-list");
                      }
                    },
                  });
                  layer.close(index);
                }
              );
            } else if (obj.event === "edit") {
              layer.open({
                type: 2,
                title: "编辑" + window.config.name,
                content: "/admin/" + window.config.url + "_form?id=" + data.id,
                area: ["550px", "550px"],
                btn: ["确定", "取消"],
                yes: function (index, layero) {
                  var iframeWindow = window["layui-layer-iframe" + index],
                    submitID = "LAY-user-front-submit",
                    submit = layero
                      .find("iframe")
                      .contents()
                      .find("#" + submitID);

                  iframeWindow.layui.form.on(
                    "submit(" + submitID + ")",
                    function (data) {
                      var field = data.field;
                      admin.req({
                        url: "/api/admin/" + window.config.url,
                        method: "PUT",
                        contentType: "application/json;charset=UTF-8",
                        data: JSON.stringify(field),
                        success: function (res) {
                          if (res.code == 0) {
                            layer.msg(res.msg, { icon: 1 });
                            table.reloadData("LAY-list");
                            layer.close(index);
                          } else {
                            layer.msg(res.msg);
                          }
                        },
                      });
                    }
                  );
                  submit.trigger("click");
                },
                success: function (layero, index) {
                  let iframeWin = window[layero.find("iframe")[0]["name"]];
                  iframeWin.initForm(data);
                },
              });
            }
          });

          // 绑定按钮事件
          $(".layui-btn.layuiadmin-btn-list").on("click", function () {
            var type = $(this).data("type");
            active[type] && active[type].call(this);
          });
        });
    </script>
  </body>
</html>
