<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        AI比赛管理后台
      {% endblock %}
    </title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/admin/static/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/admin/static/adminui/dist/css/admin.css" media="all" />
    {% block extra_head %}

    {% endblock %}
  </head>
  <body>
    <div class="layui-fluid">
      <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
          <div class="layui-form-item">
            {% block header %}

            {% endblock %}
          </div>
        </div>
        <div class="layui-card-body">
          {% block body %}
            <div style="padding-bottom: 10px">
              <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
              <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
            </div>
            <table id="LAY-list" lay-filter="LAY-list"></table>
            <script type="text/html" id="table-action-list">
              <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                <i class="layui-icon layui-icon-edit"></i>
                <span class="layui-hide-xs">编辑</span>
              </a>
              <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                <i class="layui-icon layui-icon-delete"></i>
                <span class="layui-hide-xs">删除</span>
              </a>
            </script>
          {% endblock %}
        </div>
      </div>
    </div>

    <script src="/admin/static/layui/layui.js"></script>
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
