# Ignore Python compiled files
*.pyc

# Ignore the Python cache directory
__pycache__/

# Ignore database files
*.db
目录.py

# pnpm前端
node_modules/
pnpm-lock.yaml

# 屏蔽所有子文件夹中的 .vscode idea 文件夹
**/.vscode/
**/.idea/

# 屏蔽根目录中的 .vscode idea 文件夹
.vscode/
.idea/